{%extends "base.html"%} {%block content%} {% if form.errors%}
<p>Your username and password didn't match.Please try again</p>
{% endif %} {%if user.is_authenticated%}
<p style="padding: 10px">Welcome {{user.username}}</p>
{%else%}
<div class="container" style="width: 50%;">
    <form method="POST" action="{% url 'login' %}">
  {% csrf_token%}
   {% for field in form%}
  <div class="mb-3" style="padding: 10px;">{{field.label_tag}} {{field}}</div>
  {%endfor%}
  <button type="submit" class="btn btn-primary" style="margin:20px">Login</button>
</form>
</div>

{%endif%} {%endblock%}
